<div [formGroup]="formGroup()" class="criterios-grid">
  <!-- Actor -->
  <div class="field-container">
    <p-floatlabel>
      <input pInputText id="actorPrincipal" formControlName="actorPrincipal" class="w-full premium-input" />
      <label for="actorPrincipal">Actor / Demandante / Ministerio Público</label>
    </p-floatlabel>
  </div>

  <!-- Demandado -->
  <div class="field-container">
    <p-floatlabel>
      <input pInputText id="demandadoPrincipal" formControlName="demandadoPrincipal" class="w-full premium-input" />
      <label for="demandadoPrincipal">Demandado / Sindicado</label>
    </p-floatlabel>
  </div>
</div>
