# Forzar tratamiento binario para evitar corrupción por conversión LF/CRLF
*.pdf  binary
*.doc  binary
*.docx binary
*.xls  binary
*.xlsx binary
*.ppt  binary
*.pptx binary
*.mp3  binary
*.wav  binary
*.ogg  binary
*.mp4  binary
*.webm binary
*.avi  binary
*.mov  binary
*.jpg  binary
*.jpeg binary
*.png  binary
*.gif  binary
*.bmp  binary
*.ico  binary
*.zip  binary
*.tar  binary
*.gz   binary
*.7z   binary
*.jar  binary
*.class binary
*.woff  binary
*.woff2 binary
*.ttf   binary
*.eot   binary
